@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap");
body, html {
  margin: 0 auto;
  padding: 0;
  width: 75%;
  height: 100%;
  box-sizing: border-box;
  background-color: #FFFDFB;
}

* {
  box-sizing: inherit;
}

h1 {
  font-family: "PT Mono", serif;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}

h2, h3 {
  font-family: "PT Mono", serif;
  padding: 10px;
  padding-bottom: 0px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  padding-top: 0px;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px 0px 20px 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #5d7290;
  cursor: pointer;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  body, html {
    width: 100%;
    margin: 0 auto;
  }

  .column {
    width: 100%;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}