@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap");
html {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #FEF9F3;
  padding-bottom: 40px;
}

body {
  width: 950px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-family: "PT Mono", serif;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}

h2, h3 {
  font-family: "PT Mono", serif;
  padding: 10px;
  padding-bottom: 0px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  padding-top: 0px;
}

li {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 20px;
  display: inline-block;
  text-align: center;
}

a {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px 0px 20px 20px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #5d7290;
  cursor: pointer;
}

img {
  max-width: 400px;
  max-height: 400px;
}